%h3 Notícias

%ul.feeds.list-unstyled
  - @feeds.each do |feed|
    %li
      %h3= feed.title
      =image_tag feed.image unless feed.image.blank?
      %p= markdown(feed.body)
      %p=l feed.updated_at.to_date, format: :default
      %p
        = link_to 'Show', feed
        = link_to 'Edit', edit_feed_path(feed)
        = link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Feed', new_feed_path
