%h3 Notícias

%ul.feeds.list-unstyled
  - @feeds.each do |feed|
    %li
      %h3= feed.title
      =image_tag feed.image unless feed.image.blank?
      %p= markdown(feed.body)
      %p=l feed.updated_at.to_date, format: :default
      - if signed_in?
        %p
          = link_to 'VER', feed
          |
          = link_to 'EDITAR', edit_feed_path(feed)
          |
          = link_to 'APAGAR', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'NOVA NOTÍCIA', new_feed_path, :class => 'btn btn-primary' if signed_in?
