= simple_form_for(@carousel) do |f|
  = f.error_notification

  .form-inputs
    = f.input :project_id, collection: @projects
    = f.input :title
    = f.input :description
    = f.input :image_url, as: :file
    = f.input :order, collection: 1..10

  .form-actions
    = f.button :submit, 'SALVAR', :class => 'btn btn-primary'
