#carousel.carousel.slide
  %ol.carousel-indicators
    - @carousels.each_with_index do |carousel, index|
      %li{:class => (index == 0 ? 'active' : ''), "data-target" => "#carousel", "data-slide-to" => "#{index}"}

  / Carousel slides
  .carousel-inner
    - @carousels.each_with_index do |carousel, index|
      .item{:class => (index == 0 ? 'active' : '')}
        =image_tag carousel.image_url
        .carousel-caption
          %h3
            = link_to carousel.title, carousel.project
          %p= carousel.description

  / Carousel buttons
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel"}
    %span.icon-next

= link_to 'EDITAR GALERIA', carousels_path, :class => 'btn btn-primary' if signed_in?
/ Feeds
%ul.feeds.list-unstyled
  - @feeds.each do |feed|
    %li
      %h4= feed.title
      =image_tag feed.image unless feed.image.blank?
      %p= markdown(feed.body)
      %p=l feed.updated_at.to_date, format: :default

%p=link_to 'mais notícias', feeds_path

%i.fa.fa-chevron-up