#carousel.carousel.slide
  %ol.carousel-indicators
    - @carousels.each_with_index do |carousel, index|
      %li{:class => (index == 0 ? 'active' : ''), "data-target" => "#carousel", "data-slide-to" => "#{index}"}

  / Carousel slides
  .carousel-inner
    - @carousels.each_with_index do |carousel, index|
      .item{:class => (index == 0 ? 'active' : '')}
        =image_tag carousel.image_url
        - unless carousel.title.empty?
          = link_to carousel.project do
            .carousel-caption
              = carousel.title
              %p.text-muted= carousel.description

= link_to 'EDITAR GALERIA', carousels_path, :class => 'btn btn-primary' if signed_in?
/ Feeds
%ul.feeds.list-unstyled
  - @feeds.each do |feed|
    %li
      %h4= feed.title
      = image_tag feed.image unless feed.image.blank?
      %p= markdown(feed.body)
      %p=l feed.updated_at.to_date, format: :default

- content_for :footer do
  -link_to feeds_path, :class => 'btn btn-default icon-margin' do
    =t('views.all_news')
    %i.fa.fa-file-o

= stylesheet_link_tag "home"