= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :year
    = f.input :body, as: :text, input_html: {'data-provide' => 'markdown',  :rows => '40'}

  .form-actions
    = f.button :submit

= javascript_include_tag "bootstrap-markdown", "markdown"
= stylesheet_link_tag "bootstrap-markdown.min"
