= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :tag_list, { :placeholder => "Tags separated by commas" }
    = f.input :year, as: :date,  discard_day: true, discard_month: true
    %hr
    %ul.list-unstyled
      - @images.each do |image|
        %li
          .row
            .col-lg-3
              = image_tag image.url.url(:thumb)
            .col-lg-9
              %h3= image.title
              %p= text_field_tag 'description', image.description
              %p= text_field_tag 'images', image.url.url

    = link_to 'VER GALERIA', project_images_path(@project)
    = link_to 'ADICIONAR IMAGENS', new_project_image_path(@project)

    .clearfix
    = f.input :body, as: :text, input_html: {'data-provide' => 'markdown',  :rows => '40'}

  .form-actions
    = f.button :submit


= link_to 'Show', @project
\|
= link_to 'Back', projects_path


= javascript_include_tag "bootstrap-markdown", "markdown"
= stylesheet_link_tag "bootstrap-markdown.min"



