= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :slug
    = f.input :description
    = image_tag @project.cover_image.url
    = f.input :cover_image, as: :file
    = f.association :categories, as: :check_boxes

    = f.input :year, as: :date,  discard_day: true, discard_month: true
    %hr
    %ul.list-unstyled
      = render :partial => 'images/image', :collection => @images, :as => :image

    = link_to 'VER GALERIA', project_images_path(@project), :class => 'btn btn-default'
    = link_to 'ADICIONAR IMAGENS', new_project_image_path(@project), :class => 'btn btn-default'

    = f.input :body, as: :text, input_html: {'data-provide' => 'markdown',  :rows => '50'}
    = f.input :publish

  .form-actions
    = f.button :submit, 'ATUALIZAR PROJETO', :class => 'btn btn-primary'

= javascript_include_tag "bootstrap-markdown", "markdown"
= stylesheet_link_tag "bootstrap-markdown.min"



