- content_for :head do
  = javascript_include_tag "jquery.mixitup.min", "mixitup"
  = stylesheet_link_tag "projects"


/ Menu Projects
%ul#navGrid.col-sm-12
  %li.filter{"data-filter" => "all"}
    = t 'nav.all_projects'
  - @categories.each do |category|
    %li.filter{"data-filter" => ".#{category.name}"}
      = category.name

  = link_to 'EDITAR CATEGORIAS', categories_path, :class => 'btn btn-primary' if signed_in?

/ Grid Projects
%ul#Grid.row
  - @projects.each do |project|
    %li.mix.col-lg-4.col-md-4.col-sm-6{:class => "#{categories_helper(project)}", "data-age" => project.year.year}
      = link_to project do
        .lighter= image_tag project.cover_image.url,  :class => 'img-responsive'
        .project-name
          - project.categories.each do |category|
            = category.shortname.upcase
            = '|' unless category == project.categories.last

          = '- ' + project.title
          = ' (NÃO PUBLICADO)' if not project.publish?


= link_to('NOVO PROJETO', new_project_path, :class => 'btn btn-primary') if signed_in?