

- content_for :menu do
  / Menu Projects
  #options.clearfix.nav
    %ul.list-unstyled#filters.option-set{"data-option-key" => "filter"}
      %li
        %a{"data-option-value" => "*", href: "#filter"}= t 'nav.all_projects'
      - @project_tags.each do |tag|
        %li
          %a{"data-option-value" => ".#{tag}", href: "#filter"}= tag.to_s.upcase

/ Grid Projects
#grid_projects.row
  - @projects.each do |project|
    .project.col-lg-4{:class => "#{project.tag_list.join(" ")}" }
      = link_to project do
        .lighter= image_tag 'TESTE.jpg', :height => 161
        %h3= project.title
        %p
          = project.description
          =project.tag_list


/ Isotope scripts
= javascript_include_tag "jquery.isotope.min", "isotope"
= stylesheet_link_tag "isotope", "projects"


= link_to 'New Project', new_project_path
