- content_for :menu do
  / Menu Projects
  #options.clearfix.nav
    %ul.list-unstyled#filters.option-set{"data-option-key" => "filter"}
      %li
        %a{"data-option-value" => "*", href: "#filter"}= t 'nav.all_projects'
      - @categories.each do |category|
        %li
          %a{"data-option-value" => ".#{category.name}", href: "#filter"}= category.name.upcase

  = link_to 'EDITAR CATEGORIAS', categories_path, :class => 'btn btn-primary' if signed_in?


/ Grid Projects
#grid_projects.row
  - @projects.each do |project|
    .project.col-lg-4{:class => "#{categories_helper(project)}"}
      = link_to project do
        .lighter= image_tag project.cover_image.url, :height => '170', :class => 'img-responsive'
        .project_name
          - project.categories.each do |category|
            = category.shortname.upcase
            = '|' unless category == project.categories.last

          = '- ' + project.title


/ Isotope scripts
= javascript_include_tag "jquery.isotope.min", "isotope"
= stylesheet_link_tag "isotope", "projects"


= link_to('NOVO PROJETO', new_project_path, :class => 'btn btn-primary') if signed_in?
