= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :tag_list, { :placeholder => "Tags separated by commas" }
    = f.input :year, as: :date,  discard_day: true, discard_month: true

  .form-actions
    = f.button :submit, 'CRIAR PROJETO', :class => 'btn btn-primary'
