%p= @project.tag_list
%h1= @project.title
%p= @project.description
%p= @project.year

%p= markdown @project.body unless @project.body.nil?


= link_to 'Edit', edit_project_path(@project)
|
= link_to 'Apagar', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }
|
= link_to 'Back', projects_path
