- content_for :head do
  / Facebook meta-tags
  %meta{content: "#{@project.cover_image}", property: "og:image"}
  %meta{content: "#{@project.title}", property: "og:title"}
  %meta{content: "#{@project.description}", property: "og:description"}
  %meta{content: "#{ENV['OFFICE_NAME']}", property: "og:site_name"}


%header
  = link_to '', projects_path, :class => 'pull-right fa fa-times'

  %h1
    = @project.slug
    %span#project-title= @project.title

.row
  %em.col-lg-4= @project.description

/ Project Body
.markdown= markdown @project.body unless @project.body.nil?


= stylesheet_link_tag "project"
= javascript_include_tag "jquery.lazyload.min", "project", "social-media-google-plus"

- if signed_in?
  %p
    = link_to 'EDITAR', edit_project_path(@project), :class => 'btn btn-primary'
    = link_to 'APAGAR', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-primary'




