- content_for :head do
  / Facebook meta-tags
  %meta{content: "#{@project.cover_image}", property: "og:image"}
  %meta{content: "#{@project.title}", property: "og:title"}
  %meta{content: "#{@project.description}", property: "og:description"}
  %meta{content: "#{ENV['OFFICE_NAME']}", property: "og:site_name"}


%header

  %h1
    = @project.slug
    %span#project-title= @project.title

  .close-project= link_to 'X', projects_path

.row
  .col-lg-5
    &#126;&#126;&#126;

    %p.description=  @project.description.html_safe

    &#126;&#126;&#126;

/ Project Body
.markdown.clearfix= markdown @project.body unless @project.body.nil?


/ Social Links
%ul.list-inline
  =t('views.share_this_project') + ':'
  %li
    = link_to 'https://www.facebook.com/sharer/sharer.php?u=' + request.original_url, :target => "_blank" do
      %i.fa.fa-facebook.fa-lg
  %li
    = link_to 'http://twitter.com/share?' + request.original_url, :target => "_blank" do
      %i.fa.fa-twitter.fa-lg
  %li
    = link_to 'http://plus.google.com/share?' + request.original_url, :target => "_blank" do
      %i.fa.fa-google-plus.fa-lg


/ Project Navigation
.project-nav
  - if not @project_previous.nil?
    .previous
      = link_to @project_previous do
        %i.fa.fa-chevron-left
        = @project_previous.title

  .overview
    = link_to 'X', projects_path

  - if not @project_next.nil?
    .next
      = link_to @project_next do
        = @project_next.title
        %i.fa.fa-chevron-right

= stylesheet_link_tag "project"
= javascript_include_tag "jquery.lazyload.min", "project"

- if signed_in?
  %p.clearfix
    = link_to 'EDITAR', edit_project_path(@project), :class => 'btn btn-primary'
    = link_to 'APAGAR', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-primary'




