= link_to projects_path, :class => 'close close_project' do
  FECHAR
  %i.fa.fa-times

%p= @project.title
%hr

.markdown= markdown @project.body unless @project.body.nil?

%hr
%h4 Memória Projeto
%p= @project.title
%p= @project.description
%p= @project.year

= stylesheet_link_tag "projects"

- if signed_in?
  %p
    = link_to 'EDITAR', edit_project_path(@project), :class => 'btn btn-primary'
    = link_to 'APAGAR', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-primary'




