= render 'layouts/flash_message'

%p= @project.tag_list
%h1= @project.title
%p= @project.description
%p= @project.year

%p= markdown @project.body unless @project.body.nil?


- if signed_in?
  = link_to 'EDITAR', edit_project_path(@project), :class => 'btn btn-primary'
  = link_to 'APAGAR', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-primary'