%li
  .row
    .col-lg-3
      = image_tag image.url.url(:thumb)
    .col-lg-9
      = text_area_tag 'Markdown', "![#{image.title}](#{image.url.url})", :rows => '3', :class => 'form-control'
      %br
        = link_to 'APAGAR', image_path(image), :method => :delete, :data => { :confirm => t('views.are_you_sure') }
        |
        = link_to 'EDITAR INFO', edit_image_path(image)
        |
        = link_to 'VER TAMANHO ORIGINAL', image.url.url
  %hr