%li
  .row
    .col-lg-3
      = image_tag image.url.url(:thumb)
    .col-lg-9
      = text_area_tag 'Markdown', "<img data-original='#{image.url.url}' src='#{image.url.url}' height='#{image.height}' width='#{image.width}' alt='#{image.title}'/>", :rows => '4', :class => 'form-control'
      %br
        = link_to 'APAGAR', image_path(image), :method => :delete, :data => { :confirm => t('views.are_you_sure') }
        |
        = link_to 'ADICIONAR INFO', edit_image_path(image)
        |
        = link_to 'VER TAMANHO ORIGINAL', image.url.url
  %hr