!!! 5
%html
  %head
    %title= "studioLAM"

    / SEO
    %meta{name:"description", :content => t('meta.description')}
    %meta{name:"keywords", :content => t('meta.keywords')}

    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Roboto:300", rel: "stylesheet", type: "text/css"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css", rel: "stylesheet"}

    = csrf_meta_tags

  %body
    .container

      / Header
      %header.row
        =link_to(image_tag('logo_studio_lam.jpg'), root_path)
      / Row 2 columns
      .row
        / Row 1 - Nav & Footer
        %aside.col-lg-3.col-md-3.col-sm-3

          / Nav
          .row
            %nav.nav.col-lg-4
              %ul.list-unstyled
                %li=link_to(t('nav.projects'), projects_path)
                %li=link_to(t('nav.about'), :controller => :abouts, :action => :show)
                %li=link_to(t('nav.contact'), :controller => :contacts, :action => :show)

            .col-lg-8
              = yield :menu

            #i18n
              = link_to 'PT-BR', :locale=>'pt-BR'
              |
              = link_to 'ENG', :locale=>'en'

          / Footer
          %footer
            %ul.social
              %li
                =link_to 'ddddd' do
                  %i.fa.fa-facebook.fa-2x
              %li
                =link_to 'ddddd' do
                  %i.fa.fa-instagram.fa-2x
              %li
                =link_to 'ddddd' do
                  %i.fa.fa-pinterest.fa-2x
              %li
                =link_to 'ddddd' do
                  %i.fa.fa-twitter.fa-2x
              %li
                =link_to 'ddddd' do
                  %i.fa.fa-vimeo-square.fa-2x
              %li
                =link_to 'ddddd' do
                  %i.fa.fa-google-plus.fa-2x

            %p=t 'phone'
            %p=t 'email'
            %address=t('address')
            =t 'copyright'

        / Row 2 - Main content
        %main.col-lg-9.col-md-9.col-sm-9
          = yield
