!!! 5
%html
  %head
    = render :partial => 'layouts/head'

  %body

    .container

      / Header
      %header

        .pull-left= link_to image_tag(ENV['LOGO_URL']), root_path

        / Mobile menu
        .navbar-header
          %button.navbar-toggle{"data-target" => "#menu", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #menu.collapse.navbar-collapse
          %nav
            %ul.nav.navbar-nav
              %li=link_to(t('nav.about'), about_path)
              %li=link_to(t('nav.projects'), projects_path)
              %li=link_to(t('nav.feeds'), feeds_path)
              %li=link_to(t('nav.contact'), contact_path)


        = render :partial => 'layouts/flash_message'

      / Main content
      %main

        / Main
        = yield

      / Footer
      = render :partial => 'layouts/footer'


