!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : ENV['OFFICE_NAME']

    / SEO
    %meta{name:"description", :content => t('meta.description')}
    %meta{name:"keywords", :content => t('meta.keywords')}
    %meta{name:"revisit-after", :content => "15 Days"}

    = yield :head

    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Roboto:300|Ubuntu+Mono|Rokkitt:700", rel: "stylesheet", type: "text/css"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css", rel: "stylesheet"}

    / Google+
    %script{parsetags: "explicit", src: "https://apis.google.com/js/plusone.js", type: "text/javascript"}

    = csrf_meta_tags

  %body

    #anchor_top.container

      / Header
      %header.row

        #i18n
          = link_to 'PT-BR', :locale=>'pt-BR'
          |
          = link_to 'ENG', :locale=>'en'

        =link_to(image_tag(ENV['LOGO_URL']), root_path)

        = render :partial => 'layouts/flash_message'

      / Row 2 columns
      .row
        / Row 1 - Nav & Footer
        %aside.col-lg-3.col-md-3.col-sm-3

          / Nav
          .row.two-columns
            %nav.nav.col-lg-4.col-sm-4
              %ul.list-unstyled
                %li=link_to(t('nav.projects'), projects_path)
                %li=link_to(t('nav.about'), about_path)
                %li=link_to(t('nav.contact'), contact_path)

            .col-lg-8.col-sm-8
              = yield :menu

        / Row 2 - Main content
        %main.col-lg-9.col-md-9.col-sm-9

          / Main
          = yield

      / Footer
      %footer.row

        .col-lg-3.col-md-3.col-sm-3
          %ul.social
            %li{:title => "FB.COM/STUDIOLAM.POA", "data-toggle" => "tooltip"}
              =link_to ENV['FACEBOOK_LINK']  do
                %i.fa.fa-facebook.fa-2x
            %li{:title => "INSTAGRAM", "data-toggle" => "tooltip"}
              =link_to ENV['INSTAGRAM_LINK'] do
                %i.fa.fa-instagram.fa-2x
            %li{:title => "PINTEREST", "data-toggle" => "tooltip"}
              =link_to ENV['PINTEREST_LINK']do
                %i.fa.fa-pinterest.fa-2x
            %li{:title => "TWITTER", "data-toggle" => "tooltip"}
              =link_to ENV['TWITTER_LINK'] do
                %i.fa.fa-twitter.fa-2x
            %li{:title => "VIMEO", "data-toggle" => "tooltip"}
              =link_to ENV['VIMEO_LINK'] do
                %i.fa.fa-vimeo-square.fa-2x
            %li{:title => "GOOGLE+", "data-toggle" => "tooltip"}
              =link_to ENV['GOOGLE_PLUS_LINK'] do
                %i.fa.fa-google-plus.fa-2x

          %p#telephone=t 'phone'
          %p#email=t 'email'
          %address=t('address')
          = Time.now.year.to_s + t('copyright')

        .col-lg-9.col-md-9.col-sm-9#main_footer

          = yield :footer

          %p#link_anchor
            = link_to '#anchor_top' do
              %i.fa.fa-chevron-up
