!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : ENV['OFFICE_NAME']

    / SEO
    %meta{name:"description", :content => t('meta.description')}
    %meta{name:"keywords", :content => t('meta.keywords')}
    %meta{name:"revisit-after", :content => "15 Days"}

    = yield :head

    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Ubuntu+Mono", rel: "stylesheet", type: "text/css"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css", rel: "stylesheet"}

    = csrf_meta_tags

  %body

    .container

      -##i18n
      -#  = link_to 'PT-BR', :locale=>'pt-BR'
      -#  |
      -#  = link_to 'ENG', :locale=>'en'

      / Header
      %header

        //.navbar
        .navbar-brand= link_to image_tag(ENV['LOGO_URL']), root_path

        / Mobile menu
        .navbar-header
          %button.navbar-toggle{"data-target" => "#menu", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #menu.collapse.navbar-collapse
          %nav
            %ul.nav.navbar-nav
              %li=link_to(t('nav.about'), about_path)
              %li=link_to(t('nav.projects'), projects_path)
              %li=link_to(t('nav.feeds'), feeds_path)
              %li=link_to(t('nav.contact'), contact_path)


        = render :partial => 'layouts/flash_message'


      / Main content
      %main

        / Main
        = yield

      / Footer
      = render :partial => 'layouts/footer'


