!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : ENV['OFFICE_NAME']

    / SEO
    %meta{name:"description", :content => t('meta.description')}
    %meta{name:"keywords", :content => t('meta.keywords')}
    %meta{name:"revisit-after", :content => "15 Days"}

    = yield :head

    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Ubuntu+Mono", rel: "stylesheet", type: "text/css"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css", rel: "stylesheet"}

    / Google+
    /%script{parsetags: "explicit", src: "https://apis.google.com/js/plusone.js", type: "text/javascript"}

    = csrf_meta_tags

  %body

    .container

      -##i18n
      -#  = link_to 'PT-BR', :locale=>'pt-BR'
      -#  |
      -#  = link_to 'ENG', :locale=>'en'

      = render :partial => 'layouts/flash_message'

      / Article
      %article

        = yield


      / Footer
      %footer

        #description
          %p= image_tag 'valls.gif'
          %p=t 'meta.description'

        = t('copyright') + Time.now.year.to_s

        %ul.social
          %li{:title => "fb.com/valls.cc", "data-toggle" => "tooltip"}
            =link_to ENV['FACEBOOK_LINK']  do
              %i.fa.fa-facebook.fa-lg
          %li{:title => "INSTAGRAM", "data-toggle" => "tooltip"}
            =link_to ENV['INSTAGRAM_LINK'] do
              %i.fa.fa-instagram.fa-lg
          %li{:title => "PINTEREST", "data-toggle" => "tooltip"}
            =link_to ENV['PINTEREST_LINK']do
              %i.fa.fa-pinterest.fa-lg
          %li{:title => "TWITTER", "data-toggle" => "tooltip"}
            =link_to ENV['TWITTER_LINK'] do
              %i.fa.fa-twitter.fa-lg
          %li{:title => "VIMEO", "data-toggle" => "tooltip"}
            =link_to ENV['VIMEO_LINK'] do
              %i.fa.fa-vimeo-square.fa-lg
          %li{:title => "GOOGLE+", "data-toggle" => "tooltip"}
            =link_to ENV['GOOGLE_PLUS_LINK'] do
              %i.fa.fa-google-plus.fa-lg


